
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create-account-box{
    background-color: rgb(228, 237, 232);
    width: 300px;
    height: 200px;
    margin-top: 30px auto;
    text-align: center;
    padding: 50px;
}
h2{
    text-align: center;
}
button{
    background-color: #55ceb6;
    width: 185px;
    colore: orange;
    height: 30px;
}
input{
    width: 25px;
    height: 25px;

}