
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create-box{
    background-color: rgb(228, 237, 232);
   width: 300px;
   height: 200px;
   margin: 30px auto;
   text-align: center;
   padding-top: 50px
}
h2{
   
    text-align: center;
}
button{
 background-color: #55ceb6;
 width: 185px;
 color: green;
 height: 30px; 

}
input{
    width: 250px;
    height: 25px;
}